/*** Here are defined all variables that was used by Axentix sass files ***/
/* IMPORTANT : Don't forget to add !default flag to all variables in this file */

// Breakpoints based on FlexLayout by Angular | https://github.com/angular/flex-layout/wiki/Responsive-API
$breakpoints: (
  'xs': 'screen and (max-width: 599px)',
  'sm': 'screen and (min-width: 600px) and (max-width: 959px)',
  'md': 'screen and (min-width: 960px) and (max-width: 1279px)',
  'lg': 'screen and (min-width: 1280px) and (max-width: 1919px)',
  'xl': 'screen and (min-width: 1920px)',
) !default;

$extra-breakpoints: (
  'sm-down': 'screen and (max-width: 959px)',
  'md-down': 'screen and (max-width: 1279px)',
  'lg-down': 'screen and (max-width: 1919px)',
  'sm-up': 'screen and (min-width: 600px)',
  'md-up': 'screen and (min-width: 960px)',
  'lg-up': 'screen and (min-width: 1280px)',
) !default;

// Colors
$colors: (
  'cyan': #28d1e7,
  'yellow': #f0de3b,
  'orange': #ff9028,
  'magenta': #e920e9,
  'blue': #2196f3,
  'red': #e92626,
  'green': #27e927,
  'viride': #61b399,
  'mole': #b3956d,
  'amaranth': #e62454,
  'airforce': #658fa3,
  'meadow': #22e684,
  'grey': #a5a5a5,
) !default;

$axentix-palette: (
  'primary': #2196f3,
  'secondary': #22ac72,
  'success': #12ad12,
  'warning': #fccc2e,
  'error': #df2c29,
  'white': #fff,
  'black': #000,
  'transparent': transparent,
) !default;

$theme-colors: (
  'light': #e5e5e5,
  'dark': #222,
) !default;

$brightness-pos: 105% !default;
$brightness-neg: 95% !default;
