$variant: '';
$firstColor: #000;

@each $name, $value in $theme-colors {
  @for $i from 1 through 3 {
    @if $i == 1 {
      $firstColor: $value;
    }

    @if $i == 2 {
      $variant: 'lighten';
      $value: lighten($value, 3%);
    } @else if $i == 3 {
      $variant: 'darken';
      $value: darken($value, 3%);
    }

    @include generate-background($i, $name, $value, $variant);

    .neu-#{$name} {
      @if $i == 1 {
        background-color: $firstColor;
        color: txtColor($firstColor);

        .btn {
          color: txtColor($firstColor);
        }

        .btn:hover {
          @if txtColor($firstColor) == #fff {
            filter: brightness(115%);
          } @else if txtColor($firstColor) == #000 {
            filter: brightness(95%);
          }
        }
      }

      @include generate-shadows($i, $value, $variant);
    }

    @if $i == 2 {
      $value: $firstColor;
    }
  }
}
